* {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #423F32;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 0;
}

body {
    background-color: #CDCFC0;
    display: flex;
    background-image: url("src/background.png");
    margin: 10px;
    margin-top: 150px;
}

.title {
    display: grid;
    justify-items: center;
    margin: 10px;
}

.name {
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
}

hr {
    border-top: 2px dotted #423f32;
    margin: 20px;
}

.profession {
    font-size: 15px;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0;
}

.main-card {
    justify-items: center;
    background: #F1EBE5;
    border-radius: 5px;
}

li {
    width: 300px;
    display: flex;
    margin-top: 45px;
    margin-bottom: 50px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 45px;
    outline: none;
    outline-style: auto;
    outline-width: 1px;
    outline-color: #423F32;
}

a {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

a {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: 1px solid #423F32;
}


img {
    resize: both;
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px
}

a:hover {
    color: rgb(255, 255, 255);
    font-size: 15.5px;
}

/* Remove o highlight azul padrão do iOS */
input,
textarea,
select,
button {
  -webkit-tap-highlight-color: transparent; /* remove highlight ao tocar */
  outline: none; /* remove o contorno padrão */
}

/* Define a cor do outline desejada */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 1px solid #423F32;
}


@media only screen and (max-width: 900px) and (orientation: portrait) {
    .name {
        margin: 0;
    }

    body {
        margin: 0px;
        display: block;
        margin-top: 5px;
    }

    .title {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 760px) and (orientation: portrait) {

    .name {
        margin: 0;
    }

    body {
        margin: 0px;
        display: block;
        margin-top: 5px;
    }

    .title {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}